@* 右側欄位詳細設定（validation、visible、required） *@

@using ClassLibrary
@model FormFieldViewModel?
@{ 
    var isDisabled = Model?.FORM_FIELD_Master_ID == Guid.Empty; 
    var schemaType = Model?.SchemaType;
    var updateTarget = schemaType == TableSchemaQueryType.OnlyView ? "#formViewFieldList" : "#formFieldList";
    var showSettingRuleButton = Model != null && ValidationRulesMap.HasValidations(Model.CONTROL_TYPE ?? FormControlType.Text);
}
<form id="field-setting-form" asp-action="UpdateFieldSetting" asp-controller="FormDesigner"
      data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="@updateTarget">
<fieldset @(isDisabled ? "disabled" : "")>
    <input type="hidden" asp-for="TableName" />
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="FORM_FIELD_Master_ID" />
    <input type="hidden" asp-for="SchemaType" value="@schemaType" />
        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="COLUMN_NAME" class="form-label">欄位名稱</label>
                <input asp-for="COLUMN_NAME" class="form-control" readonly />
            </div>
            <div class="col-md-6">
                <label asp-for="DATA_TYPE" class="form-label">欄位類型</label>
                <input asp-for="DATA_TYPE" class="form-control" readonly />
            </div>

            <div class="col-md-6">
                <label asp-for="CONTROL_TYPE" class="form-label">控制元件</label>
                <select asp-for="CONTROL_TYPE" class="form-select" readonly=@Model?.IS_VALIDATION_RULE>
                    <option value="">請選擇</option>
                    @if (Model != null)
                    {
                        foreach (var option in Model.CONTROL_TYPE_WHITELIST)
                        {
                            <option value="@option.ToInt()" selected="@(Model.CONTROL_TYPE == option ? "selected" : null)">
                                @option
                            </option>
                        }
                    }
                </select>
            </div>

            <div class="col-md-6">
                <label asp-for="DEFAULT_VALUE" class="form-label">預設值</label>
                <input asp-for="DEFAULT_VALUE" class="form-control" disabled="@(!showSettingRuleButton)" />
            </div>
            
            @* <div class="col-md-4 d-flex align-items-center"> *@
            @*     <div class="form-check"> *@
            @*         <input type="checkbox" asp-for="IS_VISIBLE" class="form-check-input" id="visibleCheck" /> *@
            @*         <label class="form-check-label" for="visibleCheck">是否顯示</label> *@
            @*     </div> *@
            @* </div> *@
            <div class="col-md-4 d-flex align-items-center">
                @* 不可編輯時，必填也應禁用 *@
                <div class="form-check">
                    <input type="checkbox" asp-for="IS_REQUIRED" class="form-check-input" id="isRequiredCheck" disabled="@(!Model?.IS_EDITABLE ?? false)" />
                    <label class="form-check-label" for="isRequiredCheck">必填</label>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" asp-for="IS_EDITABLE" class="form-check-input" id="editableCheck" />
                    <label class="form-check-label" for="editableCheck">可編輯</label>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-4 d-flex align-items-center">
                <button type="button"
                        class="btn btn-outline-primary btn-sm setting-rule-btn @(showSettingRuleButton ? "" : "d-none")"
                        data-id="@Model?.ID"
                        @(Model == null ? "disabled" : "")>
                    設定限制條件
                </button>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <button type="button"
                        class="btn btn-outline-primary btn-sm setting-dropdown-btn @(Model?.CONTROL_TYPE == FormControlType.Dropdown ? "" : "d-none")"
                        data-id="@Model?.ID"
                        @(Model == null ? "disabled" : "")>
                    下拉選單設定
                </button>
            </div>

        </div>
</fieldset>
</form>